<div class="comic_Nav">
	<%= link_to @first_strip, {class: 'fa fa-angle-double-left'} do %>
		<span class="visually-hidden">First Comic</span>
	<% end %>
	<%= link_to @previous_strip, {class: 'fa fa-angle-left'} do %>
		<span class="visually-hidden">Previous</span>
	<% end %>
  <%= link_to @random_strip, {class: 'fa fa-rotate-right'} do %>
		<span class="visually-hidden">Random</span>
	<% end %>
	<%= link_to @next_strip, {class: 'fa fa-angle-right'} do %>
		<span class="visually-hidden">Next</span>
	<% end %>
	<%= link_to @last_strip, {class: 'fa fa-angle-double-right'} do %>
		<span class="visually-hidden">Most Recent</span>
	<% end %>  
</div>