<div class="comic_Nav">
	<% if @first_strip == @strip %>
		<div class="disabled"><%= image_tag("Left2.png", width: "32px", height: "32px") %></div>	
		<div class="disabled"><%= image_tag("Left.png", width: "32px", height: "32px") %></div>	
	<% else %>
		<%= link_to image_tag("Left2.png", alt: "First Comic", width: "32px", height: "32px"), strip_url(@first_strip), {class: 'first'} %>
		<%= link_to image_tag("Left.png", alt: "Previous", width: "32px", height: "32px"), strip_url(@previous_strip), class: 'prev' %>
	<% end %>
  <%= link_to image_tag("Interrogation.png", alt: "Random", width: "32px", height: "32px"), strip_url(@random_strip), class: "random" %>
	<% if @last_strip == @strip %>
		<div class="disabled"><%= image_tag("Right.png", width: "32px", height: "32px") %></div>	
		<div class="disabled"><%= image_tag("Right2.png", width: "32px", height: "32px") %></div>
	<% else %>
		<%= link_to image_tag("Right.png", alt: "Next", width: "32px", height: "32px"), strip_url(@next_strip),class: 'next' %>
		<%= link_to image_tag("Right2.png", alt: "Most Recent", width: "32px", height: "32px"), strip_url(@last_strip), class: 'last' %>
	<% end %> 
</div>