<% content_for :head do  %>
	<%= display_meta_tags description: 'Suggestions, business inquiries, and who is Pink Wug.' %>
	<%= display_meta_tags keywords: 'Pink Wug, About, Business, Discord' %>
	<%= display_meta_tags og: {
    title: :title,
    type: 'website',
    url: about_url,
    image: url_for(asset_path("Profile3.png")),
    description: :description,
    site_name: 'Pink Wug' 
  } %>
  <%= display_meta_tags twitter: {
    card: 'summary_large_image',
    site: '@pinkwug',
    title: :title,
    image: url_for(asset_path("Profile3.png")),
    description: :description,
    creator: '@pinkwug',
  } %>
	<%= stylesheet_link_tag "about" %>
<% end %>
<div class="content_about">
	<h1><%= title 'About' %></h1>	
	<p class="before">Hey, welcome to my website! I'm Pink and I make comics on ✨ society ✨. I aim to make my comics accessible to the general public and raise awareness on important issues in a digestible and shareable format. Political apathy is a real problem and I wanted to play a small role in getting more people to care about civil and labor rights.</p>
	<%= link_to image_tag("Reycled Bigotry.jpg", alt: "Recycled Bigotry Comic"), "https://pinkwug.live/comics/reycled-bigotry" %>
	<%= link_to image_tag("their_problem.jpg", alt: "Their Problem Comic"), "https://pinkwug.live/comics/their-problem" %>
	<p class="after">If you wanna  support me what I do, you can sub to my <a href="https://ko-fi.com/L3L42AQKS" target="_blank">Ko-fi</a> or <a href="https://www.patreon.com/pinkwug" target="_blank">Patreon</a> and get some cool perks like wallpapers and high-res prints! And as always, you help out simply by sharing and engaging with my comics!</p>
	<p>If you have any questions, feel free to drop by my comfy <a href="https://discord.gg/pinkwug" target="_blank">Discord</a> server. I'm very active there and you will see my opinions on most stuff.</p>
	<p>For business inquiries: pinkwug@gmail.com</p>
</div>
<% content_for :javascripts do %>
  <script>
  	document.querySelector(".about_path").classList.add("active");
  </script>
<% end %>