<% content_for :head do  %>
	<%= display_meta_tags description: 'Suggestions, business inquiries, and who is Pink Wug.' %>
	<%= display_meta_tags keywords: 'Pink Wug, About, Business, Discord' %>
	<%= display_meta_tags og: {
    title: :title,
    type: 'website',
    url: about_url,
    image: url_for("Profile.png"),
    description: :description,
    site_name: 'Pink Wug' 
  } %>
  <%= display_meta_tags twitter: {
    card: 'summary_large_image',
    site: '@pinkwug',
    title: :title,
    image: url_for("Profile.png"),
    description: :description,
    creator: '@pinkwug',
  } %>
	<%= stylesheet_link_tag "about" %>
<% end %>
<div class="content_about">
	<div class="grid">
		<div class="about me" tabindex="0">
			<h1><%= title 'About Me' %></h1>	
			<p>i make comics on social and economic justice with relatable, fun, and sinister revelations mixed in</p>
		</div>
		
		<div class="about support" tabindex="0">
			<h2>Want to support me?</h2>
			<p>you can get 10% off on all merch, cute wallpapers, and my eternal gratitude</p>
			<div class="support_buttons">
				<a href="https://ko-fi.com/L3L42AQKS" target="_blank" tabindex="-1">
				  <button class="kofi">
				    <span>Buy me a coffee</span>
				  </button>
				</a><br>
				<a href="https://www.patreon.com/pinkwug" target="_blank" tabindex="-1">
				  <button class="patreon">
				    <span>Become a Patron</span>
				  </button>
				</a>
			</div>
		</div>
		<div class="about discord" tabindex="0">
			<h2>Join my Discord</h2>
			<p>review comic drafts, give suggestions, or vote on comic topics!</p>
			<p class="discord_logo">
				<%= link_to "https://discord.gg/pinkwug", target: "_blank", tabindex: "-1" do %>
					<button>
						<%= image_tag("Discord-Logo+Wordmark-White.svg", alt: "Discord Link", id: "discordImageId") %> 
					</button>
				<% end %>
			</p>
		</div>
	</div>
	<div class="about business" tabindex="0">
		<h2>For business inquiries:</h2>
		<form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/mjvjorpo" method="post">
	    <label for="full-name">Name/Company:</label>
	    <input type="text" name="name" id="full-name" required="true">
	    <label for="email-address">Email Address:</label>
	    <input type="email" name="from" id="email-address" required="true">
	    <label for="message">Message:</label>
	    <textarea name="message" id="message" placeholder="" required="true"></textarea>
	    <input type="hidden" name="_subject" id="email-subject" value="Business Inquiry from PinkWug.live">
	 	 	<p class="warning">all fields required</p>
	 	 	<input type="submit" value="Send">
	</form>
	</div>
</div>