<% content_for :head do  %>
  <%= display_meta_tags description: 'Archive of all Pink Wug comics' %>
  <%= display_meta_tags keywords: 'Pink Wug, all comics, past, previous, archive' %>
  <%= display_meta_tags og: {
    title: 'Comic Archive',
    type: 'website',
    url: strips_url,
    image: strip_variant(@strip, "786"),
    description: :description,
    site_name: 'Pink Wug' 
  } %>
  <%= display_meta_tags twitter: {
    card: 'summary_large_image',
    site: '@pinkwug',
    title: 'Comic Archive',
    description: :description,
    creator: '@pinkwug',
    image: strip_variant(@strip, "786")
  } %>
  <%= stylesheet_link_tag "index" %>
<% end %>

<div class="index">
  <div class="img_container">
    <button class="toggle gallery">
      <span class="visually-hidden">Toggle Line View</span>
    </button>
  </div>
  <h1><%= title 'Comic Archive' %></h1>
  <div class="search">
    <%= form_for :query, url: strips_path, method: :get, html: {class: 'search_form'} do |form|  %>
      <%= form.label 'Search', class: 'sr-only' %>
      <%= form.text_field :text, placeholder: 'search comics', value: params.dig('query', 'text'), autocomplete: 'off' %>
      <%= form.submit '',class: 'submit_button', title: 'submit search' %>
    <% end %>
  </div>
  <div class="table gallery">
    <div class="row gallery titles">
      <div class="cell">Comic</div>
      <button class="cell title">
        <span>Title</span>
      </button>
      <button class="cell date desc">
        <span>Date</span>
      </button>
    </div>
  <% @strips_months.each do |month, strips| %>
    <button class="button gallery">
      <span><%= month.strftime('%b %Y') %></span>
    </button>
    <div class="big_row gallery">
      <% for strip in strips %>
        <div class="row gallery">
          <%= link_to image_tag(strip_variant(strip, "900"), 
                      srcset: { strip_variant(strip, "300") => "1x",
                                strip_variant(strip, "600") => "2x",
                                strip_variant(strip, "900") => "3x",
                              }, sizes: "300px", class: 'cell', alt: strip.title, loading: 'lazy'), strip %>
          <p class="cell"><%= strip.title %></p>
          <p class="cell"><%= strip.created_at.strftime("%m/%d/%Y") %></p>
        </div>
      <% end %>      
    </div>
  <% end %>
  </div>
</div>
<% content_for :javascripts do %>
  <%= javascript_include_tag "index.js", "data-turbolinks-track" => true %>
  <script>
    document.querySelector(".strips_path").classList.add("active");
  </script>
<% end %>