<% content_for :head do  %>
  <% set_meta_tags description: 'Archive of Pink Wug previous comics',
                      keywords: 'Pink Wug, all comics, past, previous, archive' %>
  <% stylesheet_link_tag "index" %>
<% end %>

<div class="div">
  <div class="img_container">
    <button class="toggle gallery ">
      <span>Toggle</span>
    </button>
  </div>
  <h1><%= title 'Comic Archive' %></h1>
  <div class="table gallery">
    <div class="row gallery">
      <div class="cell">Comic</div>
      <button class="cell title">
        <span>Title</span>
      </button>
      <button class="cell date desc">
        <span>Date</span>
      </button>
    </div>
  <% @strips.each do |strip| %>
    <div class="row gallery">
      <%= link_to image_tag(url_for(strip.image.variant(resize_to_limit:[400,400])), class: 'cell'), strip %>
      <p class="cell"><%= strip.title %></p>
      <p class="cell"><%= strip.created_at.strftime("%m/%d/%Y") %></p>
    </div>
  <% end %>
  </div>
</div>
<% content_for :javascripts do %>
  <%= javascript_include_tag "index.js", "data-turbolinks-track" => true %>
  <script>document.querySelector(".table").lastElementChild.querySelector(".cell").addEventListener('load', addWhiteSpace("load"));</script>
<% end %>