<% content_for :head do %>
	<%= display_meta_tags description: @strip.description %>
	<%= display_meta_tags keywords: @keywords %>
	<%= display_meta_tags og: {
	  title: :title,
	  type: 'website',
	  url: strip_url(@strip),
	  image: url_for(@strip.image),
	  description: :description,
	  site_name: 'Pink Wug' 
	} %>
	<%= display_meta_tags twitter: {
	  card: 'summary_large_image',
	  site: '@pinkwug',
	  title: :title,
	  description: :description,
	  creator: '@pinkwug',
	  image: url_for(@strip.image)
	} %>
<% end %>
<div class="content">
	<h1><%= title @title %></h1>
	<%= render 'comicNav' %>
	<div class="parent">
		<%= image_tag(url_for(@strip.image), 
			srcset: {   url_for(@strip.image.variant(resize_to_limit:[375, nil], compress: 'none', quality:[100])) => "375w",
									url_for(@strip.image.variant(resize_to_limit:[600, nil], compress: 'none',  quality:[100])) => "600w",
									url_for(@strip.image.variant(resize_to_limit:[786, nil], compress: 'none',  quality:[100])) => "786w",
									url_for(@strip.image.variant(resize_to_limit:[1080, nil], compress: 'none',  quality:[100])) => "1080w",
								  url_for(@strip.image.variant(resize_to_limit:[1600, nil], compress: 'none', quality:[100])) => "1600w",
								  url_for(@strip.image.variant(resize_to_limit:[1780, nil], compress: 'none', quality:[100])) => "1780w",
							}, 
			sizes: "100vw,
							(min-width: 375px) 100vw,
			        (min-width: 600px) 65vw,
			        (min-width: 786px) 65vw,
			        (min-width: 1080px) 50vw,
			        (min-width: 1600px) 33vw,
			        (min-width: 1780px) 36vw", alt: h(@strip.transcript).gsub(/\n/, '&#13;&#10;').html_safe, class: "#{@last} comic", tabindex: '0') %>
		<%= link_to @previous_strip, tabindex: "-1" do %>
			<div class="backwards" tabindex="-1"></div>
		<% end %>
		<%= link_to @next_strip, tabindex: "-1" do %>
			<div class="forward" tabindex="-1"></div>
		<% end %>
	</div>
	<%= render 'comicNav' %>
	<div class="comment", tabindex="0">
		<%= image_tag("wugART@3x.png", style: "width: 32px", alt: "") %>
		<p>published in <%= @strip.created_at.strftime("%b %-d, %Y") %> </p>	
		<%= Rinku.auto_link(simple_format(@strip.comment), :all, 'target="_blank"').html_safe unless @strip.comment.blank? %>
	</div>
	<div class="share", tabindex="0">
		<p><strong>share this comic!</strong></p>
		<button class="tooltip" onclick="updateClipboard('<%= strip_url(@strip) %>')">
			<span>copy link</span>
		</button>
		<p><strong><%= strip_url(@strip) %></strong></p>
	</div>
</div>
<% content_for :javascripts do %>
  <%= javascript_include_tag "comicNav.js", "data-turbolinks-track" => true %>
  <script>
  	document.querySelector(".comic").addEventListener('load', addWhiteSpace("load"));
	</script>
<% end %>