<% content_for :head do %>
	<%= display_meta_tags title: @title %>
	<%= display_meta_tags description: @strip.description %>
	<%= display_meta_tags keywords: @keywords %>
<% end %>
<div class="content">
	<h1><%= title @title %></h1>
	<%= render 'comicNav' %>
	<%= image_tag(url_for(@strip.image), alt: @strip.transcript, class: 'comic') %>
	<%= render 'comicNav' %>
</div>	

