<% content_for :head do %>
	<%= display_meta_tags title: @title %>
	<%= display_meta_tags description: @strip.description %>
	<%= display_meta_tags keywords: @keywords %>
<% end %>
<div class="content">
	<h1><%= title @title %></h1>
	<%= render 'comicNav' %>
	<%= image_tag(url_for(@strip.image), alt: @strip.transcript, class: "#{@last} comic") %>
	<%= render 'comicNav' %>
	<div class="share">
		<button class="tooltip" onclick="updateClipboard('https://pinkwug.live<%= strip_url(@strip) %>')">
			<span>copy link</span>
		</button>
		<p>share this comic!</p>
		<p><%= strip_url(@strip) %></p>
	</div>
</div>
<% content_for :javascripts do %>
  <%= javascript_include_tag "comicNav.js", "data-turbolinks-track" => true %>
  <script>document.querySelector(".comic").addEventListener('load', addWhiteSpace("load"));</script>
<% end %>