<% content_for :head do %>
	<%= display_meta_tags title: @title %>
	<%= display_meta_tags description: @strip.description %>
	<%= display_meta_tags keywords: @keywords %>
<% end %>
<div class="content">
	<h1><%= title @title %></h1>
	<%= render 'comicNav' %>
	<%= image_tag(url_for(@strip.image), alt: h(@strip.transcript).gsub(/\n/, '&#13;&#10;').html_safe, class: "#{@last} comic", tabindex: '0') %>
	<%= render 'comicNav' %>
	<div class="comment", tabindex="0">
		<%= image_tag("wugART@3x.png", style: "width: 32px") %>
		<p>Published in <%= @strip.created_at.strftime("%b %-d, %Y") %> </p>	
		<%= Rinku.auto_link(simple_format(@strip.comment), :all, 'target="_blank"').html_safe unless @strip.comment.blank? %>
	</div>
	<div class="share", tabindex="0">
		<button class="tooltip" onkeyup="hitEnter()" onclick="updateClipboard('<%= strip_url(@strip) %>')">
			<span>copy link</span>
		</button>
		<p>share this comic!</p>
		<p><%= strip_url(@strip) %></p>
	</div>
</div>
<% content_for :javascripts do %>
  <%= javascript_include_tag "comicNav.js", "data-turbolinks-track" => true %>
  <script>
  	document.querySelector(".comic").addEventListener('load', addWhiteSpace("load"));
	</script>
<% end %>