<% content_for :head do %>
	<%= display_meta_tags description: @description %>
	<%= display_meta_tags keywords: @keywords %>
	<%= display_meta_tags og: {
	  title: :title,
	  type: 'website',
	  url: strip_url(@strip),
	  image: @og_img,
	  description: :description,
	  site_name: 'PinkWug' 
	} %>
	<%= display_meta_tags twitter: {
	  card: 'summary_large_image',
	  site: '@pinkwug',
	  title: :title,
	  description: :description,
	  creator: '@pinkwug',
	  image: @og_img
	} %>
	<script>
		document.addEventListener("DOMContentLoaded", function(){
      if (window.innerWidth >  500) {
        document.querySelector('.parent').style.minHeight = "70vh";
        document.querySelector('.parent').style.minWidth  = "70vh";
      }
      if (document.querySelector('.comic').complete && document.querySelector('.comic').naturalWidth != 0){
        document.querySelector('.parent').style.minHeight = 0;
        document.querySelector('.parent').style.minWidth = 0;
      }
		});
	 </script>
<% end %>
<div class="content">
	<h1 class="visually-hidden"><%= title @title %></h1>
	<div class="parent" style="min-width: 100vw; min-height: 100vw;">
		<%= image_tag(strip_variant(@strip, "1780"), 
		  srcset: { strip_variant(@strip, "375") => "375w",
								strip_variant(@strip, "600") => "600w",
								strip_variant(@strip, "786") => "786w",
								strip_variant(@strip, "1080") => "1080w",
							  strip_variant(@strip, "1600") => "1600w"
							}, sizes: "70vh", alt: h(@alt).gsub(/\n/, '&#13;&#10;').html_safe, class: "#{@last} comic", tabindex: '0', width: '100%', height: '100%') %>
	</div>
	<%= render 'comicNav' %>
	<div class="comment", tabindex="0">
		<p><%= @strip.title %><br>published in <%= @strip.created_at.strftime("%B %-d, %Y") %></p>	
		<%= Rinku.auto_link(simple_format(@strip.comment), :all, 'target="_blank"').html_safe unless @strip.comment.blank? %>
		<% if @strip.has_print? %>
			<div class="ad"><%= link_to "print available!", store_index_url << "?prints" %></div>
		<% end %>
		<div class="share_buttons">
			<div class="share_one">share&nbsp;this&nbsp;comic!</div>
			<div class="share_two">
				<% @links.each do |link| %>
					<%= link_to link, target: "_blank", class: split_url(link) do %>
						<span class="visually-hidden"><%= split_url(link) %></span>	
					<% end %>
				<% end %>
				<button class="tooltip" onclick="updateClipboard('<%= strip_url(@strip) %>')">
					<span>copy link</span>
				</button>
			</div>
		</div>
	</div>
</div>
<% content_for :javascripts do %>
  <%= javascript_include_tag "strips.js", "data-turbo-track" => true %>
  <script>
  	document.addEventListener('DOMContentLoaded', function(){
  		let arrow = document.querySelectorAll(".arrow");
  		let msg   = "<%= @SEO %>";
  		for (let i=0; i < arrow.length; i++){
  			oldAlt = arrow[i].alt;
  			newAlt = oldAlt.replace(msg, "").trim();
  			arrow[i].alt = newAlt; 
  		}
  	});
  	document.querySelector(".comic").addEventListener('load', function(){
      document.querySelector('.parent').style.minHeight = 0;
      document.querySelector('.parent').style.minWidth = 0;
    });
  	var icons = document.querySelectorAll(".icons");
  	for (let i=0; i < icons.length; i++){
  		icons[i].classList.remove("active");
  	}
  	document.querySelector(".logo").classList.add("active");
	</script>
<% end %>