<% content_for :head do %>
	<%= display_meta_tags title: 'Store' %>
	<%= display_meta_tags description: 'Now with more wugs' %>
	<%= display_meta_tags keywords: 'Hoodies, shirts, sweaters, mugs, prints' %>
	<%= display_meta_tags og: {
	  title: :title,
	  type: 'website',
	  url: store_index_url,
	  description: :description,
	  site_name: 'Pink Wug Store' 
	} %>
	<%= display_meta_tags twitter: {
	  card: 'summary_large_image',
	  site: '@pinkwug',
	  title: :title,
	  description: :description,
	  creator: '@pinkwug',
	} %>
	<%= stylesheet_link_tag "store" %>
<% end %>
<div class="store">	
	<h1>
		<span class="visually-hidden"><%= title 'Store' %></span>
	</h1>
	<div class="shop_collections">
		<button id="clothes" class="collection_button">
			<span class="visually-hidden">clothes</span>
		</button><!--
 --><button id="mugs" class="collection_button">
			<span class="visually-hidden">mugs</span>
		</button><!--
 --><button id="stickers" class="collection_button">
			<span class="visually-hidden">stickers</span>
		</button><!--
 --><button id="prints" class="collection_button">
			<span class="visually-hidden">prints</span>
		</button>
		<div class="shopShelf" tabindex="-1", width="320px"></div>
	</div>
	<div class="loading-gif">
	</div>
	<div id='collection-clothes'  class="collection clothes"></div>
	<div id='collection-mugs'     class="collection mugs"></div>
	<div id='collection-stickers' class="collection stickers"></div>
	<div id='collection-prints'   class="collection prints"></div>
</div>

<% content_for :javascripts do %>
  <%= javascript_include_tag "store.js", "data-turbo-track" => true %>
  <script>
  	document.querySelector(".store_index_path").classList.add("active");
  </script>
<% end %>