<% content_for :head do %>
	<%= display_meta_tags title: 'Store' %>
	<%= display_meta_tags description: 'Now with more wugs' %>
	<%= display_meta_tags keywords: 'Hoodies, shirts, sweaters, mugs, prints' %>
	<%= display_meta_tags og: {
	  title: :title,
	  type: 'website',
	  url: store_index_url,
	  image: @shopify[0]["node"]["products"]["edges"][0]["node"]["featuredImage"]["originalSrc"],
	  description: :description,
	  site_name: 'Pink Wug Store' 
	} %>
	<%= display_meta_tags twitter: {
	  card: 'summary_large_image',
	  site: '@pinkwug',
	  title: :title,
	  description: :description,
	  creator: '@pinkwug',
	  image: @shopify[0]["node"]["products"]["edges"][0]["node"]["featuredImage"]["originalSrc"]
	} %>
<% end %>
<div>
	<h1 class="store">
		<%= image_tag("Shop.png", tabindex: '0') %>
		<span class="visually-hidden"><%= title 'Store' %></span>
	</h1> 
	<% @shopify.each do |collection| %>
		<button class="collection_button">
			<h2><%= collection["node"]["title"] %></h2>
		</button>
		<div class="collection">
		<% collection["node"]["products"]["edges"].each do |product| %>
			<div class="product">
				<%= link_to image_tag(product["node"]["featuredImage"]["originalSrc"],  alt: "Buy #{product["node"]["title"]}", class: 'cell'), "https://#{ENV["SHOPIFY_API_LINK"]}/products/#{product["node"]["handle"]}", target: "_blank" %>
				<p class="cell"><%= product["node"]["title"] %></p>	
				<p class="cell">Price: <%= number_to_currency(product["node"]["variants"]["edges"][0]["node"]["price"].to_f, precision: 0) %></p>	
			</div>
		<% end %>
		</div>
	<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag "store.js", "data-turbolinks-track" => true %>
<% end %>