<% content_for :head do %>
	<%= display_meta_tags title: 'Store' %>
	<%= display_meta_tags description: 'Now with more wugs' %>
	<%= display_meta_tags keywords: 'Hoodies, shirts, sweaters, mugs, prints' %>
	<%= display_meta_tags og: {
	  title: :title,
	  type: 'website',
	  url: store_index_url,
	  image: @mugs.first["image"]["src"],
	  description: :description,
	  site_name: 'Pink Wug Store' 
	} %>
	<%= display_meta_tags twitter: {
	  card: 'summary_large_image',
	  site: '@pinkwug',
	  title: :title,
	  description: :description,
	  creator: '@pinkwug',
	  image: @mugs.first["image"]["src"]
	} %>
<% end %>
<div>
	<h1 class="store">
		<%= image_tag("Shop.png", tabindex: '0') %>
		<span class="visually-hidden"><%= title 'Store' %></span>
	</h1> 
	<button id="mugs">
		<h2>mugs</h2>
	</button>
	<div class="collection mugs">
		<% @mugs.each do |p| %>
			<div class="product">
				<%= link_to image_tag(p["image"]["src"], alt: "Buy #{p['title']}", class: 'cell'), "https://#{ENV["SHOPIFY_API_LINK"]}/products/#{p["handle"]}", target: "_blank" %>
				<p class="cell"><%= p["title"] %></p>
				<p class="cell">Price: <%= number_to_currency(p["variants"][0]["price"].to_f, precision: 0) %></p>
			</div>
		<% end %>
	</div>
</div>
<div>
	<button id="clothes">
		<h2>clothes</h2>
	</button>
	<div class="collection clothes">
	<% @clothes.each do |p| %>
		<div class="product">
			<%= link_to image_tag(p["image"]["src"], alt: "Buy #{p['title']}", class: 'cell'), "https://#{ENV["SHOPIFY_API_LINK"]}/products/#{p["handle"]}", target: "_blank" %>
			<p class="cell"><%= p["title"] %></p>
			<p class="cell">Price: <%= number_to_currency(p["variants"][0]["price"].to_f, precision: 0) %></p>
		</div>
	<% end %>
	</div>
</div>
<div>
	<button id="stickers">
		<h2>stickers</h2>
	</button>
	<div class="collection stickers">
		<% @stickers.each do |p| %>
			<div class="product">
				<%= link_to image_tag(p["image"]["src"], alt: "Buy #{p['title']}", class: 'cell'), "https://#{ENV["SHOPIFY_API_LINK"]}/products/#{p["handle"]}", target: "_blank" %>
				<p class="cell"><%= p["title"] %></p>
				<p class="cell">Price: <%= number_to_currency(p["variants"][0]["price"].to_f, precision: 0) %></p>
			</div>
		<% end %>
	</div>
</div>
<div>
	<button id="prints">
		<h2>prints</h2>
	</button>
	<div class="collection prints">
		<% @prints.each do |p| %>
			<div class="product">
				<%= link_to image_tag(p["image"]["src"], alt: "Buy #{p['title']}", class: 'cell'), "https://#{ENV["SHOPIFY_API_LINK"]}/products/#{p["handle"]}", target: "_blank" %>
				<p class="cell"><%= p["title"] %></p>
				<p class="cell">Price: <%= number_to_currency(p["variants"][0]["price"].to_f, precision: 0) %></p>
			</div>
		<% end %>
	</div>
</div>
<% content_for :javascripts do %>
  <%= javascript_include_tag "store.js", "data-turbolinks-track" => true %>
<% end %>