<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= display_meta_tags site: 'Pink Wug' %>    
    <%= yield(:head) %>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:400,700">
  </head>

  <body>
    <div class="container">
      <div id="skip"><a href="#content">Skip to Main Content</a></div> 
      <header class="header">
        <div class="header_top">
          <div class="wrapper header_wrapper">
            <div class="header_middle">
              <%= link_to image_tag("wugSLEEP.png", class: "logo"),root_path %>
              <a href="/" class="logo"><br>Pink&nbsp;Wug</a>
            </div>
            <div class="header_end header_buttons top">
              <a href="https://ko-fi.com/L3L42AQKS" target="_blank">
                <button class="kofi">
                  <span>Support me on Ko-Fi</span>
                </button>
              </a>
              <a href="https://www.patreon.com/pinkwug" target="_blank">
                <button class="patreon">
                  <span>Support me on Patron</span>
                </button>
              </a>
            </div>
          </div>
        </div>
        <div class="header_Border"></div>
        <div class="header_bottom">
          <div class="wrapper header_wrapper">
            <div class="header_start">
              <nav>
                <button class="nav_toggle" aria-expanded="false" type="button">
                  Menu
                </button>
                <ul class="nav_ul">
                  <li><a href="../archive">Archive</a></li>
                  <li><a href="../store">Store</a></li>
                  <li><a href="https://discord.gg/pinkwug" target="_blank">Discord</a></li>
                  <li><a href="/about">About Me</a></li>
                </ul>
              </nav>
            </div>

            <div class="header_end bottom">
              <div class="search">
                  <button class="search_toggle" giaria-label="Open search">
                    Search
                  </button>
                <%= form_for :query, url: strips_path, method: :get, html: {class: 'search_form'} do |form|  %>
                  <%= form.label 'Search', class: 'sr-only' %>
                  <%= form.text_field :text, placeholder: 'Search comics or store', value: params.dig('query', 'text'), autocomplete: 'off' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </header>
      <main class="main">
        <%= yield %>
      </main>
      <div class="white_space"></div>
      <footer class="footer">
        <div class="footer_Border"></div>
        <div class="socialMediaLinks">
          <%= link_to image_tag("facebook.svg", alt: "Facebook Logo", class: "bottom_Logo"), "https://www.facebook.com/PinkWug", target: "_blank" %>
          <%= link_to image_tag("twitter.svg", alt: "Twitter Logo", class: "bottom_Logo"), "https://twitter.com/pinkwug", target: "_blank"%>
          <%= link_to image_tag("instagram.svg", alt: "Instagram Logo", class: "bottom_Logo"), "https://www.instagram.com/pinkwug/", target: "_blank"  %>
          <%= link_to image_tag("reddit.svg", alt: "Reddit Logo", class: "bottom_Logo"), "https://www.reddit.com/r/PinkWug/", target: "_blank"  %>
          <%= link_to image_tag("tumblr.svg", alt: "Tumblr Logo", class: "bottom_Logo"), "https://pinkwug.tumblr.com/", target: "_blank"  %>
        </div>
        <p>© 2021, PinkWug powered by Sam D</p>
      </footer>
    </div>
    <%= javascript_include_tag "whiteSpace.js", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "header.js", "data-turbolinks-track" => true %>
    <%= yield(:javascripts) %>
  </body>
  </html>