<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" data-react-helmet="true" content="#FAD2DE" >
    <%= display_meta_tags site: "PinkWug" %>  
    <%= yield(:head) %>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path("favicon.ico") %>  
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body tabindex="0">
    <div class="container">
      <div id="skip"><a href="#main" data-turbolinks="false">Skip to Main Content</a></div> 
      <header class="header">
        <div class="header_logo">
          <%= link_to root_path, class: "logo" do %>
            <span>Home</span>
          <% end %>
          <span class="plant" tabindex="-1"></span>
          <div class="profileShelf" tabindex="-1"></div>
        </div>
        <nav>
          <ul>
            <li>
              <%= link_to strips_path, class: "strips_path icons" do %>
                <span>archive</span>
              <% end %>
            </li><li>
              <%= link_to store_index_path, class: "store_index_path icons" do %>
                <span>shop</span>
              <% end %>
            </li><li>
              <%= link_to about_path, class: "about_path icons" do %>
                <span>about</span>
              <% end %>
            </li>
            <div class="shelf" width="350px" tabindex="-1"></div>
          </ul>
        </nav>
        <div class="header_links">
          <%= link_to "https://ko-fi.com/L3L42AQKS", target: "_blank", class: "kofi_link" do %>
            <span class="visually-hidden">kofi</span>
          <% end %>
          <%= link_to "https://www.patreon.com/pinkwug", target: "_blank", class: "patreon_link" do %>
            <span class="visually-hidden">patreon</span>
          <% end %>
          <div class="clock">
            <span class="hide"></span>
            <span class="hour hand"></span>
            <span class="minute hand"></span>
          </div>
        </div>
      </header>
      <main id="main">
        <%= yield %>
      </main>
      <footer class="footer">
        <div class="wrap one">
          <%= link_to image_tag("Discord_196x196.png", alt: "Discord Link"), "https://discord.gg/pinkwug", target: "_blank", class: "discord" %>
          <%= link_to image_tag("Twitter_196x196.png", alt: "Twitter Link"), "https://twitter.com/pinkwug", target: "_blank", class:"twitter" %>
          <%= link_to image_tag("Instagram_196x196.png", alt: "Instagram Link"), "https://www.instagram.com/pinkwug/", target: "_blank", class: "instagram" %>
        </div>
        <div class="wrap two">
          <%= link_to image_tag("Facebook_196x196.png", alt: "Facebook Link"), "https://www.facebook.com/PinkWug", target: "_blank", class: "facebook" %>
          <%= link_to image_tag("Reddit_196x196.png", alt: "Reddit Link"), "https://www.reddit.com/r/PinkWug/", target: "_blank", class:"reddit" %>
          <%= link_to image_tag("Tumblr_196x196.png", alt: "Tumblr Link"), "https://pinkwug.tumblr.com/", target: "_blank", class:  "tumblr" %>
        </div>
        <p id="plug">© 2021, PinkWug website by <a href="http://samuelgmunoz.com" target="_blank">Samuel G. Muñoz</a></p>
      </footer>
    </div>
    <%= yield(:javascripts) %>
    <script>
      document.querySelector(".plant").addEventListener("click", function(){
        window.open("https://www.canada.ca/en/security-intelligence-service.html", '_blank');
      });

      setClock();
      setInterval(function() {
        setClock();
      }, 30000);

      function setClock(){
        var h_hand = document.querySelector(".hour");
        var m_hand = document.querySelector(".minute");
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();

        h_degrees = h * 30; //360 % 12
        m_degrees = m * 6;  //360 % 60 

        h_hand.style.transform = `rotate(${h_degrees}deg)`;
        m_hand.style.transform = `rotate(${m_degrees}deg)`;
      }
    </script>
  </body>
</html>