<!DOCTYPE html>
<html lang=en ontouchmove>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= display_meta_tags site: "Pink Wug" %>  
    <%= yield(:head) %>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path("Profile.png") %>  
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:400,700">
  </head>

  <body tabindex="0">
    <div class="container">
      <div id="skip"><a href="#main" data-turbolinks="false">Skip to Main Content</a></div> 
      <header class="header">
        <div class="header_wrapper">
          <%= link_to image_tag("Profile.png", width: "50px"), root_path, class: "header_logo" %>
          <div class="header_buttons">
            <a href="https://ko-fi.com/L3L42AQKS" target="_blank">
              <button class="kofi" tabindex="-1">
                <span>Ko-Fi</span>
              </button>
            </a>
            <a href="https://www.patreon.com/pinkwug" target="_blank" >
              <button class="patreon" tabindex="-1">
                <span>Patreon</span>
              </button>
            </a>
          </div>
        </div>
        <div class="header_Border"></div>
        <div class="header_wrapper bottom">
          <nav>
            <button class="nav_toggle" aria-expanded="false" type="button">
              Menu
            </button>
            <ul class="nav_ul">
              <li><a href="/">Home</a></li>
              <li><a href="../archive">Archive</a></li>
              <li><a href="../store">Shop</a></li>
              <li><a href="https://discord.gg/pinkwug" target="_blank">Discord</a></li>
              <li><a href="/about">About</a></li>
            </ul>
          </nav>
          <div class="search">
              <button class="search_toggle" giaria-label="Open search">
                Search
              </button>
            <%= form_for :query, url: strips_path, method: :get, html: {class: 'search_form'} do |form|  %>
              <%= form.label 'Search', class: 'sr-only' %>
              <%= form.text_field :text, placeholder: 'Search comics', value: params.dig('query', 'text'), autocomplete: 'off' %>
              <%= form.submit '',class: 'submit_button', title: 'submit search' %>
            <% end %>
          </div>
        </div>
      </header>
      <main id="main">
        <%= yield %>
      </main>
      <div class="white_space"></div>
      <footer class="footer">
        <div class="footer_Border"></div>
        <div class="socialMediaLinks">
          <%= link_to image_tag("twitter_logo_400x400.png", alt: "Twitter Link", class: "bottom_Logo"), "https://twitter.com/pinkwug", target: "_blank"%>
          <%= link_to image_tag("instagram_logo_400x400.png", alt: "Instagram Link", class: "bottom_Logo"), "https://www.instagram.com/pinkwug/", target: "_blank"  %>
          <%= link_to image_tag("facebook_logo_400x400.png", alt: "Facebook Link", class: "bottom_Logo"), "https://www.facebook.com/PinkWug", target: "_blank" %>
          <%= link_to image_tag("reddit_logo_400x400.png", alt: "Reddit Link", class: "bottom_Logo"), "https://www.reddit.com/r/PinkWug/", target: "_blank"  %>
          <%= link_to image_tag("tumblr_logo_400x400.png", alt: "Tumblr Link", class: "bottom_Logo"), "https://pinkwug.tumblr.com/", target: "_blank"  %>
        </div>
        <p>© 2021, PinkWug powered by Sam D</p>
      </footer>
    </div>
    <%= javascript_include_tag "header.js", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "whiteSpace.js", "data-turbolinks-track" => true %>
    <%= yield(:javascripts) %>
  </body>
</html>