<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" data-react-helmet="true" content="#FAD2DE" >
    <%= display_meta_tags site: "Pink Wug" %>  
    <%= yield(:head) %>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path("Favicon.png") %>  
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "preloader.js", "data-turbolinks-track" => true %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:400,700">
  </head>

  <body tabindex="0">
    <div class="container">
      <div id="skip"><a href="#main" data-turbolinks="false">Skip to Main Content</a></div> 
      <header class="header">
        <%= link_to "", root_path, class: "header_logo" %>
        <nav>
          <ul>
            <li>
              <%= link_to strips_path, class: "strips_path icons" do %>
                <span>archive</span>
              <% end %>
            </li><li>
              <%= link_to store_index_path, class: "store_index_path icons" do %>
                <span>shop</span>
              <% end %>
            </li><li>
              <%= link_to about_path, class: "about_path icons" do %>
                <span>about</span>
              <% end %>
            </li>
            <div class="shelf" width="350px" tabindex="-1"></div>
          </ul>
        </nav>
        <div class="header_links">
          <%= link_to "","https://ko-fi.com/L3L42AQKS", target: "_blank", class: "kofi_link" %>
          <%= link_to "","https://www.patreon.com/pinkwug", target: "_blank", class: "patreon_link" %>
          <div class="sibling"></div>
        </div>
      </header>
      <main id="main">
        <%= yield %>
      </main>
      <footer class="footer">
        <div class="footer_Border"></div>
        <div class="socialMediaLinks">
          <div class="firstThree">
            <%= link_to image_tag("Discord_196x196.png", alt: "Discord Link", class: "bottom_Logo"), "https://discord.gg/pinkwug", target: "_blank" %>
            <%= link_to image_tag("Twitter_196x196.png", alt: "Twitter Link", class: "bottom_Logo"), "https://twitter.com/pinkwug", target: "_blank"%>
            <%= link_to image_tag("Instagram_196x196.png", alt: "Instagram Link", class: "bottom_Logo"), "https://www.instagram.com/pinkwug/", target: "_blank"  %>
          </div>
          <div class="lastThree">
            <%= link_to image_tag("Facebook_196x196.png", alt: "Facebook Link", class: "bottom_Logo"), "https://www.facebook.com/PinkWug", target: "_blank" %>
            <%= link_to image_tag("Reddit_196x196.png", alt: "Reddit Link", class: "bottom_Logo"), "https://www.reddit.com/r/PinkWug/", target: "_blank"  %>
            <%= link_to image_tag("Tumblr_196x196.png", alt: "Tumblr Link", class: "bottom_Logo"), "https://pinkwug.tumblr.com/", target: "_blank"  %>
          </div>
        </div>
        <p>© 2021, PinkWug powered by Sam D</p>
      </footer>
    </div>
    <div class="preload"><img id="preload-01"><img id="preload-02"><img id="preload-03"><img id="preload-04"><img id="preload-05">
    <%= yield(:preload) %>
    </div>
    <script>
      var assets = ["<%= asset_path("Archive2.png") %>","<%= asset_path("Shop2.png") %>","<%= asset_path("About2.png") %>","<%= asset_path("Menu.png") %>","<%= asset_path("Profile2.png") %>"];
      preloadImages(assets, 1);
    </script>
    <%= yield(:javascripts) %>
  </body>
</html>